.ziloop_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 6rem; /*was 2rem 6rem*/
}

.ziloop_navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
}
.ziloop_navbar-links_logo {
    margin-right: 1rem;
}
.ziloop_navbar-links_logo img {
    width: 180px;
    height: 180px;
    margin-left: 0;
    margin-right: 35px;
}
.ziloop_navbar-links_container {
    display: flex;
    flex-direction: row;
}
.ziloop_navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ziloop_navbar-links_container p,
.ziloop_navbar-sign p,
.ziloop_navbar-menu_container p {
    color: #fff;
    font-family: var(font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}
.ziloop_navbar-sign button,
 .ziloop_navbar-menu_container button {
    background-color: #fff;
    color: navy;
    border: 3px #06bcf3;
    padding: 0.5rem 1rem;
    left: 1153px;
    right: 55px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: medium;
    line-height: 25px;
    font-weight: 500;
    font-family: var(font-family);
 }
.ziloop_navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}
.ziloop_navbar-menu svg {
    cursor: pointer;
}
.ziloop_navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;

    margin-top: 1rem;
    min-width: 210px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.ziloop_navbar-menu_container p {
    margin: 1rem 0;
}
.ziloop_navbar-menu_container-links-sign {
    display: none;
}
@media screen and (max-width: 1050px) {
    .ziloop_navbar-links_container {
        display: none;
    }
    .ziloop_navbar-menu {
        display: flex;
    }
}
@media screen and (max-width: 700px) {
    .ziloop_navbar {
        padding: 2rem 4rem;
    }
}
@media screen and (max-width: 550px) {
    .ziloop_navbar {
        padding: 2rem;
    }
    .ziloop_navbar-sign {   
        display: none;
    }
    .ziloop_navbar-menu_container {
        top: 20px;
    }
    .ziloop_navbar-menu_container-links-sign {
        display: block;
    }
}
