@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font-family: 'Rubik', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #33B8FF 1.84%, #3933FF);
    --gradient-bar: linear-gradient(103.22deg, #33B8FF -13.86%, #3933ff);

    --color-bg: #58f38c;
    --color-footer: #0d0235;
    --color-blog: #C8F4ED;
    --color-text: #0948f5;
    --color-subtext: #7C3DF2;
}
